@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.conteudo{
    width: 100%; 
    max-width: 60%; 
    height: 100%; 
    max-height: 88vh;
    margin: 32px 16px 32px 16px;
    border-radius: 16px;
    border:2px solid transparent;
    position: relative;
    overflow: hidden;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8); /* Preto com 50% de transparência */
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    border:1px #000;

 
}

.titulo__conteudo{
    margin: 0; 
    padding: 5px;
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 1rem;
    
}

.paragrafo__conteudo {
    margin-top: 1px;
    margin-bottom: 1px;
    color: azure;
    display: flex;
    align-items: center;  
    color:rgba(255, 255, 255, 0.785);
    text-align: left;
    font-family: "Noto Sans JP", serif;
    font-weight: 900;
}

.titulo__conteudo {
    margin: 0; 
    padding: 5px;
    color: aliceblue;
}

.paragrafo__conteudo i {
    font-size: 1.2rem; 
    vertical-align: middle; 
}
