.inicial:hover{
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.8);
}

.lista__inicial li:hover {
    color:gold;
    transform:scale(1.25);
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.8);
}

.conteudo:hover{
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.8);
    animation: brilho-rodando 1.5s infinite linear;
}

.video:hover{
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.8);
    transform:scale(1.25);
    border-radius: 16px;
}

.botao__recrutamento:hover {
    background-color: gold;
    color: black;
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.8);
    transform:scale(1.25);
}