@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

.box__influencer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    padding: 2rem;
    width: 100%; 
    max-width: 100%;
}

.titulo__influencer {
    text-align: center; 
    width: 100%; 
    margin: 1rem 0; 
    color: white; 
    font-size: 1.5rem; 
    font-weight: bold; 
}

.influencer {
    width: calc(25% - 1rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.785);
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 1rem;
    
}

#batzovo:hover{
    border: 0.1rem solid gold;
    background-image: url("/src/assets/staff/Erva_medicinal.jpg");
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;
    color: yellow;
    font-size: 1rem;
    font-weight: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
    transform: scale(1.35);
    
}

#marquesbr:hover{
    border: 0.1rem solid gold;
    background-image: url("/src/assets/staff/machado.jpg");
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;
    color: yellow;
    font-size: 1rem;
    font-weight: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
    transform: scale(1.35);
    
}

#setai_br:hover{
    border: 0.1rem solid gold;
    background-image: url("/src/assets/samurai1.jpg");
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;
    color: yellow;
    font-size: 1rem;
    font-weight: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
    transform: scale(1.35);
    
}


.img__influencer {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(3, 216, 3, 0.5);
}

.span__ancora__link { 
    display: flex;
    font-weight: 900;
    gap: 0.6rem;
    justify-content: center;
}

#twitchID {
    color: #9146FF;
}

#youtubeID {
    color: #FF0000;
}

#tiktokID {
    color: rgb(146, 146, 146);
}

/* Responsividade */

@media screen and (max-width: 1024px) {
    .influencer {
        width: calc(50% - 1rem); 
    }
}

/* Telas pequenas*/
@media screen and (max-width: 768px) {
    .influencer {
        width: 100%; 
    }

    .titulo__influencer {
        font-size: 1.5rem; 
    }

    .img__influencer {
        width: 80px;
        height: 80px;
    }

    .influencer {
        font-size: 1rem;
    }
}
